<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <h1>
          <a class="d-block" href="./index.html">Coding Home</a>
        </h1>
        <button
          class="navbar-toggler btn p-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleContent"
          aria-controls="navbarToggleContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="material-icons align-text-bottom text-primary"> drag_handle </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleContent">
          <ul class="navbar-nav text-center gap-2 gap-lg-12 py-4 py-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link fs-7 active" aria-current="page" href="./index.html">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-7" href="./course.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-7" href="./login.html">
                <span class="material-icons align-text-bottom me-1"> account_circle </span>登入
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>
    
    <footer class="footer text-center">
      <p class="copyright font-monospace lh-sm p-4 p-md-6">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/locales/zh-TW.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
